<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>

    <!-- Bootstrap.bundle.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Include Bootstrap CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!-- Include Moment.js CDN -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

	<!-- Include Bootstrap DateTimePicker CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    
    <!-- Bootstrap-icons.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Style.css -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container py-4">
        
        <%- include("../partials/header.ejs")%>

        <div class="row align-items-md-stretch px-3">
            <div class="col-md-6">

                <div class="p-5 mb-4 rounded-3" id="div-connect">
                    <h4>Connect to istSOS database</h4>
                    <form method="post" action="/chart/set/ip">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Ip</span>
                            <input type="text" name="input-ip" id="input-ip" value="<%= doc['istsos']['ip'] %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form> 
                    <form method="post" action="/chart/set/db">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Db</span>
                            <input type="text" name="input-db" id="input-db" value="<%= doc['istsos']['db'] %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </form>
                </div>

                <div class="col align-items-md-stretch">

                    <div class="p-5 mb-4 rounded-3" id="div-select">
                        <!-- <h4>Export Json file for data</h4> -->
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="select-station">Station</label>
                            <select class="form-select" id="select-station">
                                <option selected disabled>Choose...</option>
                            </select>                        
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="datetime-from">From</label>
                            <input id="datetime-from" class="form-control" type="date" disabled />
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="datetime-to">To</label>
                            <input id="datetime-to" class="form-control" type="date" disabled />   
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="select-sensor">Sensor</label>
                            <select class="form-select" id="select-sensor">
                                <option selected disabled>Choose...</option>
                            </select>                        
                        </div>
                        <button class="btn mt-3 btn-success" type="button" id="btn-json" disabled="disabled">Export JSON</button>
                        <button class="btn mt-3 ms-1 btn-success" type="button" id="btn-chart" disabled="disabled">Create chart</button>
                    </div>  
                </div>

            </div>

            <div class="col-md-6 mb-4">
                <div class="h-100 p-5 rounded-3" id="div-output-console">
                    <div class="accordion" id="accordion-base">
                    </div>
                </div>           
            </div>
            
        </div>
        
        <%- include("../partials/footer.ejs")%>

    </div>

    <!-- JavaScript Bundle with Popper -->

    <script>

        $(document).ready(function () {

            data = <%- data %>;
            // data = JSON.parse(data);
            for (var i=0; i<data.length; i++) {
                console.log(i, data[i][0]);
                $('#select-station').append(`
                <option value="${i}">${data[i][0]}</option>
                `);
            }

            $('#select-station').on('click', function() {
                place = $(this).val();
                begin = data[place][1];
                end = data[place][2];
                // console.log(begin, end);
                enableDatetime(true, begin, end); 
                changeJson(true);     
            });

            function enableDatetime(enable, start, end) {
                if (enable) {
                    $("#datetime-from").removeAttr('disabled');
                    $('#datetime-from').val(start.split('T')[0]);
                    $("#datetime-to").removeAttr('disabled');
                    $('#datetime-to').val(end.split('T')[0]);

                }else {
                    $("#datetime-from").attr('disabled', true);
                    $("#datetime-to").attr('disabled', true);
                };
            };

            function changeJson(enable) {
                if (enable) {
                    $("#btn-json").removeAttr('disabled');
                }else {
                    $("#btn-json").attr('disabled', true);
                };
            };

        });
    </script>
</body>

</html>